src/main/resources/schemas/callback-fee-ext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://asxgw.com/Schema/V2/Callback" targetNamespace="http://asxgw.com/Schema/V2/Callback"
            xmlns:callback="http://asxgw.com/Schema/V2/Callback">
    <xs:redefine schemaLocation="callback.xsd">
        <xs:complexType name="callbackType">
            <xs:complexContent>
                <xs:extension base="callback:callbackType">
                    <xs:sequence>
                        <xs:element name="fees" type="feesType" minOccurs="0" maxOccurs="1" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:redefine>


    <xs:complexType name="feesType">
        <xs:sequence>
            <xs:element type="amountType" name="transactionAmount" minOccurs="0" maxOccurs="1" />
            <xs:element type="currencyType" name="transactionCurrency" minOccurs="0" maxOccurs="1" />
            <xs:element type="amountType" name="providerFeeAmount" minOccurs="0" maxOccurs="1" />
            <xs:element type="currencyType" name="providerFeeCurrency" minOccurs="0" maxOccurs="1" />
            <xs:element type="amountType" name="providerPayoutAmount" minOccurs="0" maxOccurs="1" />
            <xs:element type="currencyType" name="providerPayoutCurrency" minOccurs="0" maxOccurs="1" />
            <xs:element type="amountType" name="exchangeFeeAmount" minOccurs="0" maxOccurs="1" />
            <xs:element type="currencyType" name="exchangeFeeCurrency" minOccurs="0" maxOccurs="1" />
            <xs:element type="amountType" name="exchangePayoutAmount" minOccurs="0" maxOccurs="1" />
            <xs:element type="currencyType" name="exchangePayoutCurrency" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>